.env
*.log
__pycache__/
*.pyc
*.pyo
*.egg-info/
.DS_Store
.vscode/
create_map/resources/

# Ignore everything in gatsim/storage/
gatsim/storage/*
# Except the folder xxx
!gatsim/storage/experiment_1/
!gatsim/storage/experiment_2/
# Also, to ensure that contents of xxx are tracked
!gatsim/storage/experiment_1/**
!gatsim/storage/experiment_1/**
